
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.ID</h1>
        <br />
        <h1>@ViewBag.Age</h1>
    </div>
</body>
</html>
