
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HtmlTest</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("Index","Home")">link</a>
    </div>
</body>
</html>
