@model MVCDay1.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Script/jquery-1.8.3.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello World!</h1>
        @using (Html.BeginForm("Add", "Home", FormMethod.Post))
        {
            <div>
                @Html.TextBox("id")
                
            </div>
            <div>
                
                @Html.TextBoxFor(a => a.Age)
                @Html.ValidationMessageFor(a => a.Age)
            </div>
            <input type="submit" />
        }
    </div>
</body>
</html>
